body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* masonary */ 
.masonry-grid {
  column-gap: 5px;
  width: 100%;
  padding: 5px;
}

.masonry-grid-count-1 {
  column-count: 1;
}

.masonry-grid-count-2 {
  column-count: 2;
}

.masonry-grid-count-3 {
  column-count: 3;
}

.masonry-grid-count-4 {
  column-count: 4;
}

.masonry-grid__item {
  /* Prevent a column from breaking into multiple columns */
  break-inside: avoid;
  margin-bottom: 1rem;
  margin: 0px 5px;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: white;
  /* box-shadow: 0px 0px 5px 0px #dcdcdc7d; */
  border: none;
  position:relative;
}

@media (max-width:992px) {
  .masonry-grid {
    column-count: 1;   
    padding: 10px;
  }
  .masonry-grid__item {
    margin: 0px 5px;
    padding: 2px;
    border-radius: 8px;
    margin-bottom: 25px;
  }
}

/* card table */
.m-tb-wide {
}
.m-tb-wide-cont {
  padding: 5px;
  margin: 5px;
}
.m-card-tb {
  padding: 5px;
  margin: 5px;
}
.m-card-tb-row {
  border-bottom: 1px solid gainsboro;
  padding: 10px;
  display: flex;
  position: relative;
  text-align: left;
  align-items: center;
}
.m-card-tb-row:hover {
  border-bottom: 1px solid gray;
}
.m-card-tb-col {
  flex: 1;
  padding: 5px;
}
.m-card-tb-hover {
  display: none;
}
.m-card-tb-row:hover .m-card-tb-hover {
  display: block;
  position: absolute;
  top: 5px;
  right: 0px;
}
@media (max-width:992px) {
  .m-tb-wide {
    overflow-x: auto;
  }
  .m-tb-sm-cont {
    padding: 2px;
    margin: 2px;
    width: 300px;
  }
  .m-tb-wide-cont {
    padding: 2px;
    margin: 2px;
    width: 500px;
  }
  .m-tb-wider-cont {
    padding: 2px;
    margin: 2px;
    width: 600px;
  }
  .m-card-tb {
    padding: 2px;
    margin: 2px;
  }
  .m-card-tb-col {
    flex: 1;
    padding: 3px;
    font-size: 14px;
  }
}
/* __________ */
